:root {
  /* Primary */
  --primaryCyan: hsl(179, 62%, 43%);
  --primaryCyanHSL: 179, 62%, 43%;
  --primaryBrightYellow: hsl(71, 73%, 54%);

  /* Neutral */
  --neutralLightGray: hsl(204, 43%, 93%);
  --neutralGrayishBlue: hsl(218, 22%, 67%);
}
