@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
:root {
  /* Primary */
  --primaryCyan: hsl(179, 62%, 43%);
  --primaryCyanHSL: 179, 62%, 43%;
  --primaryBrightYellow: hsl(71, 73%, 54%);
  /* Neutral */
  --neutralLightGray: hsl(204, 43%, 93%);
  --neutralGrayishBlue: hsl(218, 22%, 67%);
}

:root {
  --primary-font: "Karla", sans-serif;
}

/***
    The new CSS reset - version 1.6.1 (last updated 25.5.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--neutralLightGray);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: var(--primary-font);
}
body .service-card {
  background-color: white;
  border-radius: 5px;
  width: 40rem;
  max-width: 85%;
  margin-top: 15vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 10px 30px rgba(0, 3, 100, 0.2);
}
body .service-card__intro {
  padding: 2.5rem;
  grid-column: 1/span 2;
}
body .service-card__intro__heading1 {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--primaryCyan);
  margin-bottom: 1.5rem;
}
body .service-card__intro__heading2 {
  font-weight: 700;
  font-size: 1.1rem;
  color: var(--primaryBrightYellow);
  margin-bottom: 0.5rem;
}
body .service-card__intro__content {
  color: var(--neutralGrayishBlue);
  line-height: 1.6;
  font-size: 1rem;
  max-width: 34rem;
}
body .service-card__subscription {
  background-color: var(--primaryCyan);
  color: var(--neutralLightGray);
  padding: 2.5rem;
  border-bottom-left-radius: 5px;
}
body .service-card__subscription__heading {
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
body .service-card__subscription__cost {
  margin-bottom: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.7rem;
}
body .service-card__subscription__cost__price {
  font-weight: 700;
  font-size: 1.8rem;
}
body .service-card__subscription__cost__payment-interval {
  color: #55cdcc;
}
body .service-card__subscription__description {
  margin-bottom: 2rem;
}
body .service-card__subscription__sign-up-btn {
  cursor: pointer;
  height: 2.7rem;
  width: 100%;
  background-color: var(--primaryBrightYellow);
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 3, 8, 0.1);
  color: var(--neutralLightGray);
}
body .service-card__features {
  background-color: hsla(var(--primaryCyanHSL), 0.9);
  color: var(--neutralLightGray);
  padding: 2.5rem;
  border-bottom-right-radius: 5px;
}
body .service-card__features__heading {
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
body .service-card__features__list {
  font-size: 0.9rem;
  line-height: 1.5;
}
@media (max-width: 600px) {
  body .service-card {
    grid-template-columns: 1fr;
    margin-top: 8vh;
  }
  body .service-card__intro {
    grid-column: span 1;
    padding: 1.5rem;
  }
  body .service-card__subscription {
    border-radius: 0;
    padding: 1.5rem;
  }
  body .service-card__features {
    border-bottom-left-radius: 5px;
    padding: 1.5rem;
  }
}
